<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastra Filme</title>
</head>
<body>
<h1>Cadastre um novo filme: </h1>
</body>
<form method="post">
    <label for="nome">Nome: </label>
    <input name="nome" id="nome">

    <br>

    <label for="anoDeLancamento">Ano De Lançamento: </label>
    <input name="anoDeLancamento" id="anoDeLancamento">

    <br>

    <label for="duracao">Duração: </label>
    <input name="duracao" id="duracao">

    <br>

    <label for="genero">Gênero: </label>
    <input name="genero" id="genero">

    <br>

    <input type="submit" value="Cadastrar">

</form>
</html>