<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastra Filme</title>
</head>
<body>
<h1>Cadastre um novo filme: </h1>
</body>
<form method="post" action="/filmes">
    <div>
        <label for="nome">Nome: </label>
        <input name="nome" id="nome">
    </div>

    <div>
        <label for="anoDeLancamento">Ano De Lançamento: </label>
        <input name="anoDeLancamento" id="anoDeLancamento">
    </div>

    <div>
        <label for="duracao">Duração: </label>
        <input name="duracao" id="duracao">
    </div>

    <div>
        <label for="genero">Gênero: </label>
        <input name="genero" id="genero">
    </div>

    <input type="submit" value="Cadastrar">

</form>
</html>