<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:xmls="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Filmes</title>
</head>
<body>
<h1>Lista de Filmes </h1>

<table>
    <thead>
        <tr>
            <th>NOME</th>
            <th>DURACAO</th>
            <th>ANO DE LANÇAMENTO</th>
            <th>GÊNERO</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="filme : ${lista}">
        <td th:text="${filme.nome}"></td>
        <td th:text="${filme.duracao}"></td>
        <td th:text="${filme.anoDeLancamento}"></td>
        <td th:text="${filme.genero}"></td>
    </tr>
    </tbody>
</table>
</body>

</html>