<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<form>
    <label for="nome">Nome: </label>
    <input id="nome" name="nome">

    <br/>

    <label for="duracao">Duração: </label>
    <input id="duracao" name="duracao">

    <br/>

    <label for="ano">Ano de Lançamento: </label>
    <input id="ano" name="ano">

    <br/>

    <label for="genero">Gênero: </label>
    <input id="genero" name="genero">

    <br/>

    <input type="submit" value="Cadastrar">
</form>
</body>
</html>